<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h2>Lista de Produtos</h2>
        
    <table>
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>12</td>
        <td><img src="https://ourimadeiras.vteximg.com.br/arquivos/ids/155407-1000-1000/img-produto-teste-verde.png?v=637643679168400000" width="75px" height="75px" alt=""></td>
        <td>Caixa</td>
    </tr>
    </table>

        
</body>
<script>
    fetch('https://1261831.commercesuite.com.br/web_api/products').then( response => {
        return response.json();
    }).then(data =>{ 
        console.log(data)
    })

</script>
</html>